* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #003087, rgba(0, 0, 0, 0.2));
    background-size: cover;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #dedede;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    color: #003087; /* Azul Pernambucanas */
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
}

.subtitle {
    color: #777;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
}

.btn {
    background-color: #f7c813; /* Amarelo Pernambucanas */
    color: #003087; /* Azul Pernambucanas */
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #e6b400;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: #777;
    margin-top: 40px;
    border-top: 2px solid #dedede;
}

footer p {
    font-size: 0.9em;
}
